<p id="notice"><%= notice %></p>

<h1>Listing Gesture Tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gesture_tags.each do |gesture_tag| %>
      <tr>
        <td><%= link_to 'Show', gesture_tag %></td>
        <td><%= link_to 'Edit', edit_gesture_tag_path(gesture_tag) %></td>
        <td><%= link_to 'Destroy', gesture_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gesture tag', new_gesture_tag_path %>
